
common --noenable_bzlmod

# TODO: Migrate for https://github.com/bazelbuild/bazel/issues/7260
common --noincompatible_enable_cc_toolchain_resolution

common --announce_rc
common --repo_env=USE_PYWRAP_RULES=True
common --experimental_repo_remote_exec
common --cxxopt=-std=c++17 --host_cxxopt=-std=c++17
common --cxxopt=-w --host_cxxopt=-w
# common --copt=-fbracket-depth=1024 --host_copt=-fbracket-depth=1024
common --define=grpc_no_ares=true
common --define=tsl_link_protobuf=true
common --define open_source_build=true
common
common --define framework_shared_object=true
common --define tsl_protobuf_header_only=true
common --define=use_fast_cpp_protos=true
common --define=allow_oversize_protos=true

build -c opt
