[submodule "jax"]
	path = jax
	url = https://github.com/google/jax
[submodule "Enzyme"]
	path = Enzyme
	url = https://github.com/EnzymeAD/Enzyme
[submodule "julia"]
	path = julia
	url = https://github.com/JuliaLang/julia
