absl-py
numpy
jax
jaxlib

https://github.com/wsmoses/jax-md/archive/45059b8f63dad0b5cb171feafff71b82162487e7.tar.gz; sys_platform == 'linux'
https://github.com/wsmoses/jraph/archive/b00d9a03db76c69a258a86df81638b9a2f28829f.tar.gz; sys_platform == 'linux'

# maxtext can't be installed concurrently, but installing it fixes
# https://github.com/wsmoses/maxtext/archive/bc50722be7d89e4003bd830b80e4ac968be658eb.tar.gz

jax-cuda12-plugin[with_cuda]; sys_platform == 'linux'

neuralgcm

gcsfs; sys_platform == 'linux'
requests; sys_platform == 'linux'

https://github.com/wsmoses/keras/archive/f9d90db8797661ac9710e3acdcc1850ba94ab2fc.tar.gz; sys_platform == 'linux'
https://github.com/wsmoses/keras-benchmarks/archive/7d8df90ce7d2c2be2541148070cc368281ac15a5.tar.gz; sys_platform == 'linux'
tf_keras; sys_platform == 'linux'
keras-nlp >= 0.17; sys_platform == 'linux'
keras-cv; sys_platform == 'linux'
# tensorflow-cpu-datasets; sys_platform == 'linux'

# -f https://storage.googleapis.com/jax-releases/libtpu_releases.html
# libtpu-nightly == 0.1.dev20240729; sys_platform == 'linux' 
