name: Build Wheel
on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [openstack22]
    timeout-minutes: 500 
    steps:
      - name: add llvm 
        run: |
            if [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then
              sudo apt-get update
              sudo apt-get install -y git gcc g++ python3 python3-dev python3-pip
            fi
      - run: python3 -m pip install --user numpy
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: bash patches/apply.sh
      - uses: bazelbuild/setup-bazelisk@v2
      - name: Mount bazel cache  # Optional
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: bazel-${{ matrix.os }}
      - run: bazel build :enzyme_jax

      - run: cp bazel-bin/*.whl .
      
      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: Wheel-${{ matrix.os }}
          path: "*.whl"
