name: Build Enzyme-JAX

on:
  push:
    branches:
      - '**'

jobs:
  build:
    name: Build - ${{ matrix.os }} - python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}

    container:
      image: ${{ (contains(matrix.os, 'linux') && 'ghcr.io/enzymead/reactant-docker-images@sha256:7004a6ebbdd77bd047900b2bffc542e8576864056dc27a9c94d30666d6f7ea01' ) || '' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - linux-x86-n2-32
    steps:
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        sudo: false
        limit-access-to-actor: true
