name: Build Wheel
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    name: Build ${{ matrix.os }} python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [openstack22]
        python: ["3.12"]
    timeout-minutes: 500
    steps:
      - name: add llvm
        run: |
            if [ "$(expr substr $(uname -s) 1 5)" == "Linux" ]; then
              # add the ppa
              sudo apt-get update
              sudo apt-get install -y git gcc g++
              #sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-12 100
              #sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-11 50
              #sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 100
              #sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-11 50
              #sudo update-alternatives --install /usr/bin/cpp cpp-bin /usr/bin/cpp-12 100
              #sudo update-alternatives --install /usr/bin/cpp cpp-bin /usr/bin/cpp-11 50
              #sudo update-alternatives --set g++ /usr/bin/g++-12
              #sudo update-alternatives --set gcc /usr/bin/gcc-12
              #sudo update-alternatives --set cpp-bin /usr/bin/cpp-12 
              #sudo python3 -m pip install --upgrade lit
              #- run: python3 -m pip install --user numpy
            fi
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      
      - run: sudo rm -rf ~/.cache/bazel ~/.cache/bazelisk

      - name: Check compiler env
        run: |
          g++ --version 
          gcc --version
          export CC=/usr/bin/gcc
          export CXX=/usr/bin/g++
          ls /usr/lib/gcc/x86_64-linux-gnu/12/include/
          
          
      - uses: bazel-contrib/setup-bazel@0.8.5
        name: Set up Bazel
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          # disk-cache: ${{ github.workflow }}-${{ hashFiles('.github/workflows/build.yml') }}
          # Share repository cache between workflows.
          repository-cache: true
          bazelisk-version: 1.x

      - name: test
        run: |
          HERMETIC_PYTHON_VERSION=${{ matrix.python }} bazel test --test_output=errors ...
          
      - name: Build Wheel
        run: |
          sudo rm bazel-bin/*.whl || echo
          HERMETIC_PYTHON_VERSION=${{ matrix.python }} bazel build :wheel
          cp bazel-bin/*.whl .

      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          name: Wheel-${{ matrix.os }}
          path: "*.whl"
