name: Python-Black

on:
  push:
    paths:
      - '.github/workflows/python_format.yml'
      - '**/*.py'
  pull_request:
    paths:
      - '.github/workflows/python_format.yml'
      - '**/*.py'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
